<!DOCTYPE html>
<html lang="en-IN">
<head>
    <meta charset="utf-8">
    <title>Login to exams system</title>
    <meta name="description" content="Login"/>
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/frontend/default/assets/css/default.css"/>
</head>
<body>
<div id="login-form">

    <input type="radio" checked id="login" name="switch" class="hide">
    <input type="radio" id="signup" name="switch" class="hide">

    <div>
        <ul class="form-header">
            <li><label for="login"><i class="fa fa-lock"></i> LOGIN</label></li>
            <li><label for="signup"><i class="fa fa-credit-card"></i> REGISTER</label></li>
        </ul>
    </div>

    <div class="section-out">
        <section class="login-section">
            <div class="login">
                <form method="post">
                    <ul class="ul-list">
                        <li>
                            <input type="email" name="username" required class="input" placeholder="Your Email"/><span class="icon"><i class="fa fa-user"></i></span>
                        </li>
                        <li>
                            <input type="password" name="password" required class="input" placeholder="Password"/><span class="icon"><i
                                        class="fa fa-lock"></i></span></li>
                        <li>
                            <span class="remember"><input type="checkbox" id="check"> <label for="check">Remember
                                    Me</label></span><span class="remember"><a href="">Forgot Password</a></span></li>
                        <li>
                            <input type="submit" value="SIGN IN" class="btn"></li>
                    </ul>
                </form>
            </div>

            <div class="social-login">Or sign in with &nbsp;
                <a href="/auth/facebook" class="fb"><i class="fa fa-facebook"></i></a>
                <a href="/auth/google" class="gp"><i class="fa fa-google-plus"></i></a>

            </div>
        </section>

        <section class="signup-section">
            <div class="login">
                    <ul class="ul-list">
                        <li><input type="email" required class="input" placeholder="Your Email"/><span class="icon"><i
                                        class="fa fa-user"></i></span></li>
                        <li><input type="password" required class="input" placeholder="Password"/><span class="icon"><i
                                        class="fa fa-lock"></i></span></li>
                        {#<li><a href="#" class="">Terms and conditions</a></li>#}
                        <li><input type="checkbox" id="check1"> <label for="check1">I accept terms and
                                conditions</label></li>
                        <li><input type="submit" value="SIGN UP" class="btn"></li>
                    </ul>
            </div>

            <div class="social-login">Or sign up with &nbsp;
                <a href="" class="fb"><i class="fa fa-facebook"></i></a>
                <a href="" class="gp"><i class="fa fa-google-plus"></i></a>
            </div>
        </section>
    </div>
    <div id="powered">TKBooks <a href="#" target="_blank">Mock Exam System</a></div>
</div>

</body>
</html>