{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
        <section class="content-header">
            <h1>
                Không có quyền truy cập !
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow"> 403</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Bạn không có quyền truy cập chức năng này.</h3>

                    <p>
                        Vui lòng <a href="/admin/logout">đăng nhập</a> bằng tài khoản khác để có quyền hạn sử dụng chức năng này.
                    </p>

                </div>
                <!-- /.error-content -->
            </div>
           <!-- /.content -->
        </section>
    </div>
{% endblock %}